/* ​148.​
​Create design-system.css with all custom properties in :root: --color-primary, --color-secondary,​
-​ -color-accent, --color-success, --color-warning, --color-error, --color-text, --color-bg, plus five tints​
​and shades of primary​
​149.​ ​Define the same colour four ways for your primary swatch: hex, rgb(), hsl(), and oklch() - they​
​must look identical in the browser​
​150.​ ​Add a [data-theme='dark'] block that overrides the colour variables for a dark theme​
​151.​
​Apply your design system to the Week 1 home page. Toggle the theme in DevTools by adding​
​data-theme='dark' to the html element.​ */


:root{
    --color-primary: #ff0000;
    --color-secondary: #f5e4e4;
    --color-accent: #00e1ff;
    --color-success: #00ff62;
    --color-warning: #ff9900;
    --color-error: #000;
    --color-text: #5e5757;
    --color-bg: #e9fcf5;
    --color-blue-100: rgba(0, 68, 255, 0.9);
    --color-blue-300: rgba(0, 68, 255, 0.7);
    --color-blue-500: rgba(0, 68, 255, 0.5);
    --color-blue-700: rgba(0, 68, 255, 0.3);
    --color-blue-900: rgba(0, 68, 255, 0.1);
    --color-red-hex: #ff0000;
    --color-red-hsl: hsl(0, 100%, 50%);
    --color-red-rgb: rgb(255, 0, 0);
    --color-red-oklch: oklch(62.793% 0.25768 29.223);
}   

:root[data-theme="dark"] {
    --color-primary: #690000;
    --color-secondary: #f5e4e4;
}

.header{
    color: var(--color-primary);
}